$cookie-consent-breakpoint: 40em !default;
$cookie-consent-text: #000000 !default;
$cookie-consent-bg: #fff !default;
$cookie-consent-btn-text: #fff !default;
$cookie-consent-btn-bg: #f5a816 !default;
$cookie-consent-link-text: #f5a816 !default;
$cookie-consent-horizontal-padding: 24px !default;
$cookie-consent-border-radius: 4px !default;